.header-style {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    overflow: hidden;
    height: 100px;
}

.center-buttons {
    text-align: center;
}

.buttons {
    margin-left: 10px;
}

.title {
    text-align: center;
    padding: 8px;
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 48px;
    padding-top: 20px;
}
